In [2]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd


executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

def scrape(url_str):
    browser.visit(url_str)
    html = browser.html
    soup = BeautifulSoup(html, "html.parser")
    return soup

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\cdonnelly.EFCLOCAL\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

In [3]:
listings = {}

url = "https://redplanetscience.com"

soup = scrape(url)
listings["headline"] = soup.find("div", class_="content_title").get_text().strip()
listings["text"] = soup.find("div", class_="article_teaser_body").get_text().strip()

print(listings)

{'headline': "3 Things We've Learned From NASA's Mars InSight", 'text': 'Scientists are finding new mysteries since the geophysics mission landed two years ago.'}

In [4]:
url = "https://spaceimages-mars.com/"
soup = scrape(url)
relative_image_path = soup.find_all('img')[1]["src"]
featured_image_url = url + relative_image_path

featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [13]:
# Galaxy facts tables
url = "https://galaxyfacts-mars.com/"
tables = pd.read_html(url)

df = tables[0]
df = pd.DataFrame([{0:'',1:'Mars',2:'Earth'}, {0:'Description',1:'',2:''}]).append(df)
df.columns = df.iloc[0]
df = df.iloc[1: , :]
df = df.set_index('')
df

0                                   Mars            Earth

Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [ ]:
htmltable = df.to_html()
htmltable1 = htmltable.replace('\n', '')
htmltable1

In [ ]:
url = "https://marshemispheres.com/"
hemispheres = []

soup = scrape(url)
sidebar = soup.find_all('div', class_='item')

for item in sidebar:
    hemi = {}
    img_url = item.find('a')['href']
    hemi['title'] = (item.find('h3').get_text().strip())[:-9]
 
    newurl = url + img_url
    soup = scrape(newurl)
    
    # is this correct image?
    n = soup.find_all('dd')[1]
    hemi['img_url'] = n.find('a')['href']
    
    hemispheres.append(hemi)
hemispheres

In [ ]:
# Quit the browser
browser.quit()