In [56]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd


executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

def scrape(url_str):
    browser.visit(url_str)
    html = browser.html
    soup = BeautifulSoup(html, "html.parser")
    return soup

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\cdonnelly.EFCLOCAL\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

In [57]:
listings = {}

url = "https://redplanetscience.com"

soup = scrape(url)
listings["headline"] = soup.find("div", class_="content_title").get_text().strip()
listings["text"] = soup.find("div", class_="article_teaser_body").get_text().strip()

print(listings)

{'headline': "A New Video Captures the Science of NASA's Perseverance Mars Rover", 'text': 'With a targeted launch date of July 30, the next robotic scientist NASA is sending to the to the Red Planet has big ambitions.'}

In [58]:
url = "https://spaceimages-mars.com/"
soup = scrape(url)
relative_image_path = soup.find_all('img')[1]["src"]
featured_image_url = url + relative_image_path

featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [59]:
# Galaxy facts tables
url = "https://galaxyfacts-mars.com/"
tables = pd.read_html(url)

df = tables[0]
df = pd.DataFrame([{0:'',1:'Mars',2:'Earth'}, {0:'Description',1:'',2:''}]).append(df)
df.columns = df.iloc[0]
df = df.iloc[1: , :]
df = df.set_index('')
df

0                                   Mars            Earth

Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [60]:
htmltable = df.to_html()
htmltable1 = htmltable.replace('\n', '')
htmltable1

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>      <th>Earth</th>    </tr>    <tr>      <th></th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Description</th>      <td></td>      <td></td>    </tr>    <tr>      <th>Mars - Earth Comparison</th>      <td>Mars</td>      <td>Earth</td>    </tr>    <tr>      <th>Diameter:</th>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>Moons:</th>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>Distance from Sun:</th>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>Length of Year:</th>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>Temperature:</th>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [61]:
url = "https://marshemispheres.com/"
hemispheres = []

soup = scrape(url)
sidebar = soup.find_all('div', class_='item')

for item in sidebar:
    hemi = {}
    img_url = item.find('a')['href']
    hemi['title'] = (item.find('h3').get_text().strip())[:-9]
 
    newurl = url + img_url
    soup = scrape(newurl)
    
    # is this correct image?
#     n = soup.find_all('dd')[1]
#     hemi['img_url'] = n.find('a')['href']
    n = soup.find_all('li')[0]
    print(n.find('a')['href'])
    hemi['img_url'] = (url + n.find('a')['href'])
    #print(n.find('a')['href'])
    hemispheres.append(hemi)
hemispheres

images/full.jpg
images/schiaparelli_enhanced-full.jpg
images/syrtis_major_enhanced-full.jpg
images/valles_marineris_enhanced-full.jpg

[{'title': 'Cerberus Hemisphere',
  'img_url': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

In [62]:
# Quit the browser
browser.quit()